
@font-face {
    font-family: 'Avenir Next';
    src: 
        url('../../assets/fonts/AvenirNextLTPro-Bold.otf');
        
    }

 @font-face {
        font-family: 'Avenir Next';
        src: 
        
             url('../../assets/fonts/AvenirNextLTPro-Demi.otf');
            
       
        }

 @font-face {
            font-family: 'Avenir Next';
            src: 
            url('../../assets/fonts/AvenirNextLTPro-Regular.otf');
          
            }
body{
    font-family: 'Avenir Next', sans-serif;

}