@use "../../assets/partials/global";
@use "../../assets/partials/typography" as *;
@use "../../assets/partials/fonts" as *;
@use "../../assets/partials/variables" as *;
@use "../../assets/partials/mixins" as *;

.video-player {
  display: flex;
  justify-content: center;

  @include tablet {
    background-color: black;
    padding: 0 4rem;
  }

  &__preview {
    aspect-ratio: 16 / 9;
    width: 100%;

    @include desktop {
      max-width: 90%;
      padding: 0 2rem;
    }
  }
}
