

.video-player__preview
{
    
    
    aspect-ratio: 16 / 9;  
    width: 100%;
}

.video-player {
    
    background-color: black;
    padding: 0 4rem;
    padding-bottom: 24px;
    
    
}

/*
.video-player__controls{
    background-color: red;
}
.video-player__scrub{
   height: 16px;
   width: 16px;
   color: white;
}
*/