@use "../../assets/partials/__global" as *;
@use "../../assets/partials/typography" as *;
@use "../../assets/partials/fonts" as *;
@use "../../assets/partials/__variables" as *;
@use "../../assets/partials/__mixins" as *;

.video-player__preview
{
    aspect-ratio: 16 / 9;  
    width: 100%;

    @include desktop{
       max-width: 90%;
       padding: 0 2rem;
    }
}

.video-player {
    display: flex;
    justify-content: center;

    @include tablet{
        background-color: black;
        padding: 0 4rem;
    }  
}

