@use "../../assets/partials/global";
@use "../../assets/partials/typography" as *;
@use "../../assets/partials/fonts" as *;
@use "../../assets/partials/variables" as *;
@use "../../assets/partials/mixins" as *;

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  &__heading {
    @include sub-header;
    color: $Silver; //silver
    display: flex;
    padding-top: 1rem;
  }

  &__video {
    display: flex;
    gap: 1rem;
  }

  &__thumbnail {
    height: 6.25rem;
    width: 9.375rem;
    border-radius: 4px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    @include sub-header;

    @include tablet {
      @include sub-header;
    }
  }

  &__channel {
    @include mobile__body;

    @include tablet {
      @include body;
    }
  }
}
